accelerate
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
av
certifi
charset-normalizer
click
coloredlogs
ctranslate2
datasets
dill
exceptiongroup
fastapi
faster-whisper
filelock
flatbuffers
frozenlist
fsspec
h11
huggingface-hub
humanfriendly
idna
Jinja2
llvmlite
MarkupSafe
more-itertools
mpmath
multidict
multiprocess
networkx
numba
numpy
onnxruntime
openai-whisper
optimum
packaging
pandas
protobuf
psutil
pyarrow
pyarrow-hotfix
pydantic
pydantic_core
pyee
python-dateutil
python-ffmpeg
python-multipart
pytz
PyYAML
regex
requests
safetensors
sentencepiece
six
sniffio
stable-ts
starlette
sympy
tiktoken
tokenizers
torch
torchaudio
tqdm
transformers
triton
typing_extensions
tzdata
urllib3
uvicorn
whisper
xxhash
yarl
