name: Build_Subgen_Dockerfile_GPU

on:
  push:
    paths:
      - 'requirements.txt'
      - 'Dockerfile'
  workflow_dispatch:

jobs:
  docker:
    runs-on: [self-hosted]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get version from subgen.py
        id: get_version
        run: |
          version=$(grep -oP "subgen_version\s*=\s*'\K[^']+" subgen.py)
          echo "version=$version" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push GPU Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            mccloud/subgen:latest
            mccloud/subgen:${{ env.version }}
